* {
    box-sizing: border-box;
}

.header-bar {
    background-color: blanchedalmond;
    /* height: 40px; */
    /* margin: 5px; */
    /* padding: 5px 0; */
}

.active {
    text-decoration: none;
    color: red;
    font-weight: 700;
}

div>ul>a {
    margin: 5px 10px;
    padding: 15px 0;
    text-decoration: none;
    font-weight: 700;
    color: black;

}

.nav {
    margin: 15px;
    padding: 0;
}